.song-wrapper {
  margin-bottom: 2rem;
}

.song {
  height: 400px;
  background-color: black;
  color: white;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 20%, #000 56%);
  }
}

.song-title {
  display: block;
  font-size: 2.2rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.song-artist {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.song-image {
  height: 60%;
  overflow: hidden;
}

.song-content {
  padding: 0 20px;
  position: relative;
}

.song-meta {
  font-size: 0.8rem;
  margin-top: 10px;
}

.song-release_date, .song-rating, .song-author {
  display: inline-block;
  margin-right: 10px;
}

.meta_label {
  padding: 0.25rem 0.5rem 0.25rem;
  background: #008CBA;
  font-size: 0.7rem;
}

.song-author {
  margin-right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
}
