.song-wrapper {
  margin-bottom: 2rem;
}

.song_card {
  position: relative;

  display: block;

  height: 400px;

  color: white;
  background-color: black;
  &:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background: linear-gradient(to bottom, transparent 20%, #000 56%);
  }
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: white;
  }
  .song-title {
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 2.2rem;
    font-weight: 500;
  }
  .song-artist {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 1.5rem;
  }
  .song-image {
    overflow: hidden;

    height: 60%;
  }
  .song-content {
    position: relative;

    padding: 0 20px;
  }
  .song-meta {
    margin-top: 10px;

    font-size: .8rem;
  }
  .song-release_date,
  .song-rating {
    display: inline-block;

    margin-right: 10px;
  }
}

.meta_label {
  padding: .25rem .5rem .25rem;

  color: white;
  background: #008cba;

  font-size: .7rem;
}

.song {
  margin: 50px 0;
  .song-image {
    float: right;
  }
  .song-meta {
    font-size: 0.8rem;
    color: #bbb;
  }
  .song-release_date,
  .song-rating,
  .song-added_by {
    &:after {
      content: '|';
      margin: 0 5px;
    }
  }
  .song-lyrics {
    margin-top: 50px;
  }
}
